.container
{
	width:970px;
	padding:0;
	margin:0;
	margin-left:auto;
	margin-right:auto;
}

.container .container_center
{
	padding:40px;
}


.container .container_center .input-append
{
	width:100%;
	margin-bottom:25px;
}

.container .container_center .input-append .span_title
{
	font-size:18px;
	display:block;
	text-align:right;
	vertical-align:middle;
	width:20%;
	margin-right:3%;
	line-height:34px;
}

.container .container_center .input-append input[type="text"]
{
	padding:10px 10px 10px 10px; 
	width:70%; 
	height:34px;
}

.container .container_center .input-append textarea
{
	width:70%;
	height:300px;
}

.container .container_center .input-append select
{
	width:33%; 
	font-size:16px;
}


.container .container_center .input-append .btn-group
{
	width:70%;
}

.container .container_center .input-append .btn-group input[type="text"]
{
	width:100%;
}

.container .container_center .input-append .btn-group .dropdown-menu
{
	width:100%;
}

.container .container_center .input-append .btn-group .dropdown-menu select
{
	width:100%;
}